


.html{
  font-size: 62.6%;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.center{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  width: 100%;
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
}

.scores{
  font-size: 1.3rem;
  margin: 10px 0;
}

.quizbody{
  width: 80%;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px; */
  background: grey;
  margin: 10px 0;
  border-radius: 16px;
  color: white;
  padding: 10px;
}

.quizbody .questioncount{
  font-size: 1rem;
  text-align: center;
}

.QuestionAns h2{
font-size: 2rem;
text-align: center;
margin: 15px 0;
}

.list{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  

}

.list li{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 8px 0;
  width: 80%;
  background: green;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  background: #9f9e9f;
  font-weight: 600;
}

.list li:hover{
  background: rgb(119, 110, 194);
  color: azure;
}

.final{
  width: 50%;
  background: rgb(44, 42, 42);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
  margin: 10px 0;
  border-radius: 20px;

}

.final h1{
  margin: 10px 0;
}

.final button{
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  background: red;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}